<div id="sidebar" class="widget-area sidebar section" role="complementary">
  
  <aside id="nav_menu-2" class="widget widget_nav_menu"><h2 class="widget-title">Chapters</h2><div class="menu-theme-table-of-contents-container"><ul id="menu-theme-table-of-contents" class="menu"><li id="menu-item-5797" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook current-menu-item menu-item-has-children menu-item-5797"><a href="https://developer.wordpress.org/themes/getting-started/">Getting Started</a>
<ul  class="sub-menu">
<li id="menu-item-5799" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5799"><a href="https://developer.wordpress.org/themes/getting-started/who-should-read-this-handbook/">Who Should Read This Handbook?</a></li>
<li id="menu-item-5802" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5802"><a href="https://developer.wordpress.org/themes/getting-started/what-is-a-theme/">What is a Theme?</a></li>
<li id="menu-item-5805" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5805"><a href="https://developer.wordpress.org/themes/getting-started/wordpress-licensing-the-gpl/">WordPress Licensing &amp; the GPL</a></li>
<li id="menu-item-5808" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5808"><a href="https://developer.wordpress.org/themes/getting-started/setting-up-a-development-environment/">Setting up a Development Environment</a></li>
<li id="menu-item-5814" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5814"><a href="https://developer.wordpress.org/themes/getting-started/theme-development-examples/">Theme Development Examples</a></li>
</ul>
</li>
<li id="menu-item-5828" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-5828"><a href="https://developer.wordpress.org/themes/basics/">Theme Basics</a>
<ul  class="sub-menu">
<li id="menu-item-11989" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-11989"><a href="https://developer.wordpress.org/themes/basics/template-files/">Template Files</a>
<ul  class="sub-menu">
  <li id="menu-item-24946" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-24946"><a href="https://developer.wordpress.org/themes/basics/main-stylesheet-style-css/">Main Stylesheet (style.css)</a></li>
</ul>
</li>
<li id="menu-item-11344" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11344"><a href="https://developer.wordpress.org/themes/basics/post-types/">Post Types</a></li>
<li id="menu-item-5837" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-5837"><a href="https://developer.wordpress.org/themes/basics/organizing-theme-files/">Organizing Theme Files</a></li>
<li id="menu-item-11293" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11293"><a href="https://developer.wordpress.org/themes/basics/template-hierarchy/">Template Hierarchy</a></li>
<li id="menu-item-11292" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11292"><a href="https://developer.wordpress.org/themes/basics/template-tags/">Template Tags</a></li>
<li id="menu-item-11291" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11291"><a href="https://developer.wordpress.org/themes/basics/the-loop/">The Loop</a></li>
<li id="menu-item-11313" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11313"><a href="https://developer.wordpress.org/themes/basics/theme-functions/">Theme Functions</a></li>
<li id="menu-item-11312" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11312"><a href="https://developer.wordpress.org/themes/basics/linking-theme-files-directories/">Linking Theme Files &amp; Directories</a></li>
<li id="menu-item-11311" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11311"><a href="https://developer.wordpress.org/themes/basics/including-css-javascript/">Including CSS &amp; JavaScript</a></li>
<li id="menu-item-11310" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11310"><a href="https://developer.wordpress.org/themes/basics/conditional-tags/">Conditional Tags</a></li>
<li id="menu-item-11347" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11347"><a href="https://developer.wordpress.org/themes/basics/categories-tags-custom-taxonomies/">Categories, Tags, &amp; Custom Taxonomies</a></li>
</ul>
</li>
<li id="menu-item-17411" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-17411"><a href="https://developer.wordpress.org/themes/template-files-section/">Template Files Section</a>
<ul  class="sub-menu">
<li id="menu-item-17416" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-17416"><a href="https://developer.wordpress.org/themes/template-files-section/post-template-files/">Post Templates</a></li>
<li id="menu-item-11294" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11294"><a href="https://developer.wordpress.org/themes/template-files-section/page-template-files/">Page Templates</a></li>
<li id="menu-item-17414" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-17414"><a href="https://developer.wordpress.org/themes/template-files-section/attachment-template-files/">Attachment Template Files</a></li>
<li id="menu-item-17413" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-17413"><a href="https://developer.wordpress.org/themes/template-files-section/custom-post-type-template-files/">Custom Post Type Template Files</a></li>
<li id="menu-item-17412" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-17412"><a href="https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/">Partial and Miscellaneous Template Files</a>
<ul  class="sub-menu">
  <li id="menu-item-11366" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11366"><a href="https://developer.wordpress.org/themes/template-files-section/partial-and-miscellaneous-template-files/comments/">Comment Template</a></li>
</ul>
</li>
<li id="menu-item-11343" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11343"><a href="https://developer.wordpress.org/themes/template-files-section/taxonomy-templates/">Taxonomy Templates</a></li>
<li id="menu-item-25204" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25204"><a href="https://developer.wordpress.org/themes/functionality/404-pages/">404 Pages</a></li>
</ul>
</li>
<li id="menu-item-5827" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-5827"><a href="https://developer.wordpress.org/themes/functionality/">Theme Functionality</a>
<ul  class="sub-menu">
<li id="menu-item-17365" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-17365"><a href="https://developer.wordpress.org/themes/functionality/core-supported/">Core-Supported Features</a>
<ul  class="sub-menu">
  <li id="menu-item-25203" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25203"><a href="https://developer.wordpress.org/themes/functionality/administration-menus/">Administration Menus</a></li>
  <li id="menu-item-11327" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11327"><a href="https://developer.wordpress.org/themes/functionality/custom-headers/">Custom Headers</a></li>
  <li id="menu-item-25160" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25160"><a href="https://developer.wordpress.org/themes/functionality/custom-logo/">Custom Logo</a></li>
  <li id="menu-item-11376" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11376"><a href="https://developer.wordpress.org/themes/functionality/post-formats/">Post Formats</a></li>
  <li id="menu-item-25202" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25202"><a href="https://developer.wordpress.org/themes/functionality/sticky-posts/">Sticky Posts</a></li>
</ul>
</li>
<li id="menu-item-11326" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11326"><a href="https://developer.wordpress.org/themes/functionality/sidebars/">Sidebars</a></li>
<li id="menu-item-11325" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11325"><a href="https://developer.wordpress.org/themes/functionality/widgets/">Widgets</a></li>
<li id="menu-item-11324" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11324"><a href="https://developer.wordpress.org/themes/functionality/navigation-menus/">Navigation Menus</a></li>
<li id="menu-item-11367" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11367"><a href="https://developer.wordpress.org/themes/functionality/pagination/">Pagination</a></li>
<li id="menu-item-11365" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-11365"><a href="https://developer.wordpress.org/themes/functionality/media/">Media</a>
<ul  class="sub-menu">
  <li id="menu-item-25197" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25197"><a href="https://developer.wordpress.org/themes/functionality/media/audio/">Audio</a></li>
  <li id="menu-item-25144" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25144"><a href="https://developer.wordpress.org/themes/functionality/media/images/">Images</a></li>
  <li id="menu-item-25158" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25158"><a href="https://developer.wordpress.org/themes/functionality/media/galleries/">Galleries</a></li>
  <li id="menu-item-25157" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25157"><a href="https://developer.wordpress.org/themes/functionality/media/video/">Video</a></li>
</ul>
</li>
<li id="menu-item-11364" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11364"><a href="https://developer.wordpress.org/themes/functionality/featured-images-post-thumbnails/">Featured Images &amp; Post Thumbnails</a></li>
<li id="menu-item-11375" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11375"><a href="https://developer.wordpress.org/themes/functionality/internationalization/">Internationalization</a></li>
<li id="menu-item-11374" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11374"><a href="https://developer.wordpress.org/themes/functionality/localization/">Localization</a></li>
<li id="menu-item-11386" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11386"><a href="https://developer.wordpress.org/themes/functionality/accessibility/">Accessibility</a></li>
</ul>
</li>
<li id="menu-item-11419" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-11419"><a href="https://developer.wordpress.org/themes/customize-api/">Theme Options – The Customizer API</a>
<ul  class="sub-menu">
<li id="menu-item-25020" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25020"><a href="https://developer.wordpress.org/themes/customize-api/customizer-objects/">Customizer Objects</a></li>
<li id="menu-item-25023" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25023"><a href="https://developer.wordpress.org/themes/customize-api/tools-for-improved-user-experience/">Tools for Improved User Experience</a></li>
<li id="menu-item-25022" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25022"><a href="https://developer.wordpress.org/themes/customize-api/the-customizer-javascript-api/">The Customizer JavaScript API</a></li>
<li id="menu-item-25021" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25021"><a href="https://developer.wordpress.org/themes/customize-api/javascriptunderscore-js-rendered-custom-controls/">JavaScript/Underscore.js-Rendered Custom Controls</a></li>
<li id="menu-item-25019" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25019"><a href="https://developer.wordpress.org/themes/customize-api/advanced-usage/">Advanced Usage</a></li>
</ul>
</li>
<li id="menu-item-25095" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-25095"><a href="https://developer.wordpress.org/themes/theme-security/">Theme Security</a>
<ul  class="sub-menu">
<li id="menu-item-25093" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25093"><a href="https://developer.wordpress.org/themes/theme-security/data-sanitization-escaping/">Data Sanitization/Escaping</a></li>
<li id="menu-item-25094" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25094"><a href="https://developer.wordpress.org/themes/theme-security/data-validation/">Data Validation</a></li>
<li id="menu-item-25096" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25096"><a href="https://developer.wordpress.org/themes/theme-security/using-nonces/">Using Nonces</a></li>
<li id="menu-item-25185" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25185"><a href="https://developer.wordpress.org/themes/theme-security/common-vulnerabilities/">Common Vulnerabilities</a></li>
</ul>
</li>
<li id="menu-item-5826" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-5826"><a href="https://developer.wordpress.org/themes/advanced-topics/">Advanced Theme Topics</a>
<ul  class="sub-menu">
<li id="menu-item-11420" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11420"><a href="https://developer.wordpress.org/themes/advanced-topics/child-themes/">Child Themes</a></li>
<li id="menu-item-11415" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11415"><a href="https://developer.wordpress.org/themes/advanced-topics/ui-best-practices/">UI Best Practices</a></li>
<li id="menu-item-11414" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11414"><a href="https://developer.wordpress.org/themes/advanced-topics/javascript-best-practices/">JavaScript Best Practices</a></li>
<li id="menu-item-11413" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11413"><a href="https://developer.wordpress.org/themes/advanced-topics/theme-testing/">Theme Testing</a></li>
<li id="menu-item-11412" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11412"><a href="https://developer.wordpress.org/themes/advanced-topics/validating-your-theme/">Validating Your Theme</a></li>
<li id="menu-item-11411" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11411"><a href="https://developer.wordpress.org/themes/advanced-topics/plugin-api-hooks/">Plugin API Hooks</a></li>
</ul>
</li>
<li id="menu-item-5825" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-5825"><a href="https://developer.wordpress.org/themes/release/">Releasing Your Theme</a>
<ul  class="sub-menu">
<li id="menu-item-11440" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11440"><a href="https://developer.wordpress.org/themes/release/required-theme-files/">Required Theme Files</a></li>
<li id="menu-item-11439" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11439"><a href="https://developer.wordpress.org/themes/release/testing/">Testing</a></li>
<li id="menu-item-11437" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11437"><a href="https://developer.wordpress.org/themes/release/theme-review-guidelines/">Theme Review Guidelines</a></li>
<li id="menu-item-11436" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11436"><a href="https://developer.wordpress.org/themes/release/writing-documentation/">Writing Documentation</a></li>
<li id="menu-item-11435" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-11435"><a href="https://developer.wordpress.org/themes/release/submitting-your-theme-to-wordpress-org/">Submitting Your Theme to WordPress.org</a></li>
</ul>
</li>
<li id="menu-item-25055" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-25055"><a href="https://developer.wordpress.org/themes/references/">References</a>
<ul  class="sub-menu">
<li id="menu-item-25056" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25056"><a href="https://developer.wordpress.org/themes/references/list-of-template-tags/">List of Template Tags</a></li>
<li id="menu-item-25069" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25069"><a href="https://developer.wordpress.org/themes/references/list-of-conditional-tags/">List of Conditional Tags</a></li>
</ul>
</li>
<li id="menu-item-11272" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-has-children menu-item-11272"><a href="https://developer.wordpress.org/themes/credits/">Credits</a>
<ul  class="sub-menu">
<li id="menu-item-25184" class="menu-item menu-item-type-post_type menu-item-object-theme-handbook menu-item-25184"><a href="https://developer.wordpress.org/themes/credits/feedback/">Feedback</a></li>
</ul>
</li>
</ul></div></aside>
</div><!-- #secondary -->